@charset "UTF-8";
@font-face {
  font-family: AlbertusNova;
  font-display: swap;
  src: url("../fonts/AlbertusNova-Bold.woff2") format("woff2"), url("../fonts/AlbertusNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: AlbertusNova;
  font-display: swap;
  src: url("../fonts/AlbertusNova.woff2") format("woff2"), url("../fonts/AlbertusNova.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.title {
  font-size: 30px;
  line-height: 1.3;
  color: #2D2D2D;
  font-weight: 400;
  font-family: AlbertusNova;
}

.link {
  transition: 0.7s;
  font-size: 16px;
  font-weight: 400;
  font-family: AlbertusNova;
  line-height: 22px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
}
.link::before {
  content: "";
  transition: 0.7s;
  position: absolute;
  border-bottom: 1px solid black;
  width: 100%;
  height: 1px;
  bottom: 0;
}
.link:hover {
  color: red;
}
.link:hover::before {
  content: "";
  width: 0;
  border-color: #FF1E00;
}

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.icon-menu::before {
  top: 0px;
}
.icon-menu::after {
  bottom: 0px;
}
.icon-menu span {
  top: calc(50% - 1px);
}
.menu-open .icon-menu span {
  transform: scale(0);
}
.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header {
  position: relative;
  z-index: 20;
  padding: 40px 0;
  transition: 0.7s;
}
.header__container {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  align-items: center;
}
.header__menu {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}

.menu__list {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
}
.menu__link {
  color: #fff;
  transition: 0.7s;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  font-family: AlbertusNova;
  font-weight: 400;
  cursor: pointer;
}
.menu__link:hover {
  color: red;
}

.socials {
  display: flex;
  column-gap: 28px;
  align-items: center;
  flex-wrap: wrap;
}
.socials__link:hover path {
  fill: red;
}
.socials__link path {
  transition: 0.7s;
}

._header-scroll {
  position: fixed;
  top: -2000px;
  background: black;
  width: 100%;
  transition: 0.7s;
  padding: 23px;
}

._header-show {
  top: 0;
}

.header-navigation {
  position: fixed;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 90px;
  left: 0;
  transform: translateX(-100%);
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  transition: 0.8s;
  row-gap: 25px;
  column-gap: 25px;
}
.header-navigation__link {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: AlbertusNova;
}

.menu-open .header-navigation {
  transform: translate(0);
}
.menu-open .header {
  background-color: #000000;
}
.menu-open .icon-menu span, .menu-open .icon-menu::before, .menu-open .icon-menu::after {
  content: "";
  background-color: red;
}
.menu-open .menu__link {
  color: red;
}

@media (max-width: 800px) {
  .header-navigation {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header-navigation {
    top: 60px;
  }
}
.arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0;
  transform: rotate(-90deg) translateX(-100%);
  opacity: 0;
  right: 0;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.7s;
  box-shadow: 0 0 5px;
}
.arrow__link svg {
  max-width: 20px;
}
.arrow path {
  transition: 0.7s;
}
.arrow:hover {
  box-shadow: 0 0 10px red;
}
.arrow:hover path {
  stroke: red;
}

.arrow-active {
  bottom: 25px;
  transform: rotate(-90deg) translateX(0);
  opacity: 1;
  right: 25px;
}

.footer {
  background-color: #2D2D2D;
  padding: 22px 0;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__copu {
  color: #fff;
  margin-top: 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: AlbertusNova;
}

.banner {
  background-image: url(../img/banerс.png);
  background-size: cover;
  min-width: 100%;
  background-repeat: no-repeat;
  min-height: 620px;
  margin-top: -126px;
  position: relative;
  display: flex;
  align-items: center;
}
.banner::before {
  content: "";
  background: rgba(255, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner__title {
  font-family: AlbertusNova;
  font-weight: 700;
  margin: 0px auto;
  max-width: 900px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 200px;
  line-height: 1.3;
}
.banner__link-botoom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 2;
  animation: botom-line 2s infinite;
}
.banner__link-botoom path {
  transition: 0.7s;
}
.banner__link-botoom:hover path {
  stroke: red;
}

@keyframes botom-line {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.graphic {
  padding: 48px 0;
}
.graphic__container {
  max-width: 586px;
}
.graphic__title {
  text-align: center;
}
.graphic__items {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 39px;
}
.graphic__link {
  margin-top: 34px;
}

@keyframes graphic-item {
  0% {
    transform: translateX(900px) rotateX(180deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0px);
    opacity: 1;
  }
}
.graphic-item {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphic-item__date-adress {
  display: flex;
  column-gap: 74px;
  font-weight: 400;
  font-family: AlbertusNova;
}
.graphic-item__date {
  font-family: Albertus Nova;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 400;
  font-family: AlbertusNova;
}
.graphic-item__date span {
  font-family: Albertus Nova;
  font-size: 26px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 10px;
  font-weight: 700;
}
.graphic-item__adress {
  font-family: Albertus Nova;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  font-family: AlbertusNova;
}
.graphic-item__adress span {
  display: block;
  margin-top: 7px;
  font-family: Albertus Nova;
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.graphic-item__btn {
  font-family: Albertus Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  background-color: #FF1E00;
  border-radius: 5px;
  padding: 10px 10px;
  width: 138px;
  display: block;
  color: #fff;
  transition: 0.7s;
  border: 1px solid #fff;
  font-family: AlbertusNova;
  font-weight: 400;
}
.graphic-item__btn:hover {
  background: none;
  color: black;
  border-color: black;
}
.graphic-item__btn_out {
  border: 1px solid black;
  background: none;
  color: black;
  font-family: AlbertusNova;
}
.graphic-item__btn_out:hover {
  background-color: #FF1E00;
  border: none;
  color: #fff;
}
.graphic-item__btn_color {
  cursor: default;
  color: #FF1E00;
  border: none;
  background: none;
  font-family: AlbertusNova;
  font-weight: 700;
}
.graphic-item__btn_color:hover {
  color: #FF1E00;
}

.animation-scrole {
  animation: graphic-item 2s 1;
  opacity: 1;
}

@media (max-width: 1210px) {
  .banner__title {
    font-size: 115px;
  }
}
.preerer {
  background-image: url(../img/bg-premier.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 48px 0;
}
.preerer__container {
  display: flex;
  justify-content: space-between;
  column-gap: 26px;
  color: #fff;
  max-width: 800px;
}
.preerer__images {
  max-width: 334px;
  max-height: 334px;
}
.preerer__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
.preerer__desc {
  max-width: 320px;
}
.preerer__title {
  font-family: AlbertusNova;
  font-size: 40px;
  font-weight: 300;
  line-height: 55px;
  margin-top: 120px;
}
.preerer__subtitle {
  font-family: AlbertusNova;
  font-size: 32px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.merch {
  padding: 49px 0;
  background-image: url(../img/bg-merch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.merch__title {
  text-align: center;
}
.merch__colums {
  display: flex;
  flex-wrap: wrap;
  column-gap: 300px;
  row-gap: 24px;
  margin-top: 32px;
  transition: 2s;
}

.colums-gap {
  column-gap: 24px;
  transform: rotate(0deg);
}

.merch-colum {
  border: 1px solid #989898;
  border-radius: 10px;
  margin: 0px auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  color: #2D2D2D;
  max-width: 276px;
  transition: 0.7s;
}
.merch-colum:hover {
  transform: translateY(20px);
  box-shadow: 0 0 5px;
}
.merch-colum_salet, .merch-colum_new {
  position: relative;
  font-family: AlbertusNova;
  font-weight: 400;
}
.merch-colum_salet::before, .merch-colum_new::before {
  content: "new";
  position: absolute;
  text-transform: uppercase;
  top: 12px;
  left: 12px;
  padding: 7px 13px;
  color: #fff;
  border-radius: 5px;
  background-color: #59AD02;
}
.merch-colum_salet::before {
  content: "sale";
  background-color: red;
}
.merch-colum__images {
  flex: 1 1;
  min-width: 252px;
  max-height: 280px;
  margin-bottom: 49px;
  display: flex;
  align-items: center;
}
.merch-colum__images img {
  object-fit: cover;
  width: 100%;
}
.merch-colum__name {
  font-family: AlbertusNova;
  font-weight: 400;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.2;
}
.merch-colum__price {
  margin-top: 18px;
  font-family: Albertus Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  transition: 0.7s;
  font-family: AlbertusNova;
  font-weight: 700;
}
.merch-colum__price:hover {
  color: red;
}
.merch-colum__link {
  margin-top: 28px;
}

.releases {
  padding-top: 48px;
}
.releases__title {
  margin-bottom: 32px;
  text-align: center;
}
.releases__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 28px;
}
.releases__link {
  margin-bottom: 48px;
}

.releases-item {
  margin: 0px auto;
  transform: rotate(180deg);
  transition: 2s;
}
.releases-item__link {
  max-width: 176px;
  max-height: 176px;
  display: inline-block;
  position: relative;
}
.releases-item__link::before {
  content: "";
  font-size: 28px;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  color: #fff;
  text-align: center;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.releases-item__link:hover::before {
  content: "Відкрити";
  box-shadow: 0 0 5px #989898;
  background-color: #989898;
  border-color: black;
}
.releases-item__img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.releases-rotait {
  transform: rotate(0);
}

.video-gallery {
  padding-bottom: 48px;
}
.video__title {
  text-align: center;
}
.video__sidebae {
  display: flex;
  column-gap: 24px;
}
.video__items {
  display: flex;
  column-gap: 400px;
  row-gap: 204px;
  margin-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.video__item {
  position: relative;
}
.video__item::before {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-image: url(../img/video/play.svg);
  width: 64px;
  height: 64px;
  position: absolute;
}
.video__icon {
  max-width: 576px;
  max-height: 324px;
}
.video__icon_width {
  max-width: 375px;
  max-height: 211px;
}
.video__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video__link {
  margin-top: 28px;
}

.video-wrap {
  transition: 1.5s;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery__title {
  text-align: center;
  margin-top: 48px;
}
.gallery__colums {
  margin-top: 32px;
  display: flex;
  row-gap: 24px;
  column-gap: 24px;
}
.gallery__items {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 28px;
  column-gap: 24px;
}

@media (max-width: 964px) {
  .gallery__colums {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery__items {
    flex-direction: row;
  }
}
@media (max-width: 684px) {
  .gallery__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery-item {
  position: relative;
}
.gallery-item__images {
  max-width: 376px;
  max-height: 213px;
}
.gallery-item__images_width {
  max-width: 776px;
  max-height: 450px;
}
.gallery-item__img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-item__name {
  position: absolute;
  bottom: 10%;
  left: 25%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  font-family: AlbertusNova;
}
.gallery-item__name_transformation {
  left: 50%;
  transform: translateX(-50%);
}

.news {
  padding: 48px 0;
  background-image: url(../img/bg-merch.jpg);
}
.news__title {
  text-align: center;
}
.news__colums {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 32px;
  row-gap: 24px;
  justify-content: space-around;
}
.news__link {
  margin-top: 28px;
}

.news-item {
  max-width: 276px;
  display: flex;
  flex-direction: column;
}
.news-item__images {
  max-width: 276px;
  max-height: 186px;
}
.news-item__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.news-item__name {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  font-family: AlbertusNova;
}
.news-item__desc {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  font-family: AlbertusNova;
}
.news-item__date-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: AlbertusNova;
  align-items: center;
  flex-wrap: wrap;
}
.news-item__btn {
  font-family: AlbertusNova;
  font-weight: 400;
  padding: 5px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: 0.7s;
}
.news-item__btn:hover {
  background-color: #FF1E00;
  color: #fff;
}

.instagram {
  padding: 48px 0;
}
.instagram__title {
  text-align: center;
}
.instagram__items {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-around;
  column-gap: 405px;
  row-gap: 55px;
  margin-top: 32px;
  transition: 2s;
  transform: rotate(180deg);
}
.instagram__images {
  max-width: 236px;
  max-height: 236px;
}
.instagram__img {
  object-fit: cover;
  min-width: 100%;
}
.instagram__link {
  margin-top: 28px;
}

.instagram-norm {
  transform: rotate(0);
  row-gap: 5px;
  column-gap: 5px;
}

.fans {
  background-image: url(../img/bg-merch.jpg);
}
.fans__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.fans__images {
  max-width: 611px;
  max-height: 300px;
}
.fans__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.fans__desc {
  max-width: 470px;
}
.fans__text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: AlbertusNova;
}
.fans__baner {
  min-width: 100%;
  height: 430px;
}
.fans__baber {
  object-fit: cover;
  min-width: 100%;
  max-height: 100%;
}

.socials {
  display: flex;
  margin-top: 23px;
}
.contacts {
  padding: 48px 0 102px;
  background-image: url(../img/bg-merch.jpg);
}
.contacts__title {
  text-align: center;
}
.contacts__colums {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  margin-top: 32px;
}
.contacts__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 230px;
}

.cotact-item__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: #2D2D2D;
  margin-bottom: 8px;
  font-family: AlbertusNova;
}
.cotact-item__name-user, .cotact-item__number, .cotact-item__mail {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: AlbertusNova;
}
.cotact-item__name-user {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.cotact-item__name-user::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: #FF1E00;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.cotact-item__number {
  margin-bottom: 13px;
  padding-left: 30px;
  position: relative;
}
.cotact-item__number::before {
  content: "";
  background-image: url(../img/tel.svg);
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
}
.cotact-item__mail {
  position: relative;
  padding-left: 30px;
  display: flex;
}
.cotact-item__mail::before {
  content: "";
  background-image: url(../img/mail.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 5px;
}
.cotact-item__number, .cotact-item__mail {
  transition: 0.7s;
}
.cotact-item__number:hover, .cotact-item__mail:hover {
  color: red;
}

@media (max-width: 1180px) {
  .fans__container {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .fans__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fans__images {
    order: 2;
  }
}
@media (max-width: 830px) {
  .video__sidebae {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 760px) {
  .header__container {
    column-gap: 20px;
  }
  .preerer__container {
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
  }
  .preerer__desc {
    order: 1;
  }
  .preerer__title {
    margin-top: 0;
  }
  .preerer__images {
    order: 2;
  }
}
@media (max-width: 680px) {
  .title {
    font-size: 24px;
  }
  .banner__title {
    font-size: 80px;
  }
  .graphic-item__date-adress {
    flex-direction: column;
    row-gap: 10px;
  }
  .graphic-item:nth-child(3), .graphic-item:nth-child(6), .graphic-item:nth-child(5), .graphic-item:nth-child(7) {
    display: none;
  }
}
.socials_margin {
  margin: 0;
}

@media (max-width: 500px) {
  .releases {
    padding-bottom: 30px;
  }
  .footer {
    padding: 10px;
  }
  .footer__copu {
    margin-top: 10px;
  }
  .graphic__container, .gallery, .video, .news__container, .releases__container {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    padding: 20px 47px;
  }
  .socials_display-none {
    display: none;
  }
  .banner__title {
    font-size: 65px;
  }
  .graphic-item__date-adress {
    row-gap: 0;
  }
  .graphic__items {
    row-gap: 20px;
  }
  .preerer__title {
    font-size: 36px;
  }
  .preerer__subtitle {
    font-size: 25px;
  }
  .graphic, .preerer, .merch {
    padding: 14px 0;
  }
  .graphic-item__adress {
    font-size: 19px;
  }
  .graphic-item__adress span {
    font-size: 14px;
    margin-top: 0;
  }
  .link {
    transform: translate(0);
    margin: 20px auto 0;
  }
  .merch__container {
    display: flex;
    flex-direction: column;
  }
  .instagram__container {
    display: flex;
    flex-direction: column;
  }
  .instagram__images:nth-child(1), .instagram__images:nth-child(2), .instagram__images:nth-child(3), .instagram__images:nth-child(4), .instagram__images:nth-child(5) {
    display: none;
  }
  .fans__baner {
    height: 263px;
  }
  .fans__baber {
    object-fit: contain;
    object-position: -130px;
  }
}
